# Database configuration
DB_USER=etudiant_db
DB_PASSWORD=etudiant_db
DB_HOST=localhost
DB_PORT=3306
DB_NAME=etudiant_db

# JWT configuration
JWT_SECRET=your_jwt_secret_key
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key
JWT_EXPIRATION_MS=3600000
JWT_REFRESH_EXPIRATION_MS=172800000 # 48 hours

# Environment
ENV=dev

# Mobile support
APP_AUTH_MOBILE_SUPPORT=false

